<div class="">
  <div class="our-team">
    <div class="picture">
      <img
        class="img-fluid"
        src="{{ member.photoUrl || './assets/user.png' }}"
      />
    </div>
    <div class="team-content">
      <h3 class="name">{{ member.userName }}</h3>
      <h4 class="title">Age : {{ member.age }}</h4>
    </div>
    <ul class="social">
      <li>
        <a
          href="#"
          routerLink="/members/{{ member.userName }}"
          aria-hidden="true"
        >
          <i class="fa fa-user"></i>
        </a>
      </li>
      <li>
        <a (click)="addLike(member)" aria-hidden="true">
          <i class="fa fa-heart"></i
        ></a>
      </li>
      <li>
        <a href="#" aria-hidden="true"> <i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</div>
