.dropdown-item {
  cursor: pointer;
}

.nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #333;
  background-color: #28a745;
  border-color: #333;
}

img {
  max-height: 50px;
  height: auto;
  border-radius: 50%;
  
  display: inline;
}