<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <!-- brandlink -->
    <a class="navbar-brand" routerLink="/"> FaceMate</a>

    <!-- links -->
    <div class="bs-component">
      <ul class="navbar-nav navbar-brand mr-auto nav nav-tabs">
        <ng-container *ngIf="accountservice.CurrentUser$ | async">
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="tab"
              routerLink="/members"
              routerLinkActive="active"
            >
              Matches</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-toggle="tab"
              routerLink="/lists"
              routerLinkActive="active"
            >
              Lists</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/messages"
              routerLinkActive="active"
              data-bs-toggle="tab"
            >
              Messages</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
    <!-- linksEnd -->
    <!-- dropdown -->
    <div
      class="btn-group"
      dropdown
      *ngIf="accountservice.CurrentUser$ | async as User"
    >
      <a
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle btn-group-toggle"
        aria-controls="dropdown-animated"
      >
        Welcome {{ User.userName | titlecase }} <span class="caret"></span>
      </a>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu mt-2"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem">
          <a class="dropdown-item">Edit profile</a>
        </li>
        <div class="dropdown-divider"></div>

        <li role="menuitem">
          <a class="dropdown-item">Something else here</a>
        </li>
        <div class="dropdown-divider"></div>
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>
    <!-- dropdownended -->

    <!-- loginform -->

    <form
      *ngIf="(accountservice.CurrentUser$ | async) === null"
      #loginform="ngForm"
      (ngSubmit)="login()"
      class="d-flex mt-2 mt-md-0 justify-content-end"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-sm-2"
        type="text"
        placeholder="User Name"
        class="mx-1 p-2"
      />

      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-sm-2"
        type="password"
        placeholder="password"
        class="mx-1 p-2"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>

    <!-- loginform ended -->
  </div>
</nav>
