<div class="card">
  <div class="card-body">
    <div *ngIf="(MessageService.messageThread$ | async).length === 0">
      No Messages Yet ..Say Hi
    </div>
    <ul
      #scrollMe
      style="overflow: scroll; height: 500px"
      [scrollTop]="scrollMe.scrollHeight"
      *ngIf="(MessageService.messageThread$ | async).length > 0"
      class="chat"
    >
      <li *ngFor="let message of MessageService.messageThread$ | async">
        <div>
          <span class="chat-img right">
            <img
              class="rounded-circle"
              src="{{ message.senderPhotoUrl || './assets/user.png' }}"
              alt="{{ message.senderUserName }}"
            />
          </span>

          <div class="chat-body mt-3">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  message.messageSent | timeago
                }}</span>
                <span
                  class="text-danger"
                  *ngIf="
                    !message.dateRead && message.senderUserName !== username
                  "
                >
                  (unread)
                </span>
                <span
                  class="text-success"
                  *ngIf="
                    message.dateRead && message.senderUserName !== username
                  "
                >
                  (read {{ message.dateRead | timeago }})
                </span>
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form class="input-group" #messageform="ngForm" (ngSubmit)="sendMessage()">
      <input
        name="messageContent"
        required
        [(ngModel)]="messageContent"
        type="text"
        class="form-control input-sm"
        placeholder="send a private Maessage"
      />
      <div class="input-group-append">
        <button [disabled]="!messageform.valid" class="btn btn-primary">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
